<div class="head-title">
  <h1>✨ Marketplace</h1>
  <div class="user-actions">
    <p style="font-size: 1.25rem; font-weight: 600; margin-right:40px"> Hello <%= @user.name %>! <p>
    <div class="dropdown">
      <%= link_to "👤 View My Profile", user_path(current_user), class: "dropdown-link" %>
      <%= link_to "🚪 Log Out", logout_path, data: { turbo_method: :delete }, class: "dropdown-link logout" %>
    </div>
  </div>
</div>

<div class="items-grid" id="items-grid">
  <% @items.each do |item| %>
    <div class="item-card" data-item-id="<%= item.id %>" data-category="<%= item.category %>" data-name="<%= item.name.downcase %>">
      <div class="card-head">
        <div class="card-checkbox">
          <input type="checkbox" class="item-checkbox" value="<%= item.id %>">
        </div>
        <div class="card-badge">
          <%= item.category %>
        </div>
      </div>

      <div class="card-content">
        <h3 class="card-title"><%= item.name %></h3>
        <p class="card-description"><%= truncate(item.description, length: 50) %></p>
        <div class="card-price">$<%= item.price %></div>
        <div class="card-meta">
          <div class="seller-info">
            <span><%= item.seller.name || "Unknown" %></span>
          </div>
          <div>
            📅 <%= item.post_date %>
          </div>
        </div>
        <div class="card-link">
          <%= link_to "more info ->", item %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div style="display:flex; justify-content: center">
  <%= link_to "Post my own item", new_item_path, class: "btn-new" %>
</div>